:root {
  --main-color: #ffdb58;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* body::-webkit-scrollbar{
  display: none;
  } */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* START  */
/* START */
/* START */

/* header */
/* header */

#header_container {
  display: flex;
  border: 2px solid #ffdb58;
  padding: 13px;
  height: 42px;
}
#header_container_logo {
  font-size: large;
  font-weight: 500;
  margin-top: 10px;
}
#my_logo {
  height: 2.7rem;
  border-radius: 8px;
  width: 2.7rem;
  margin-top: -12px;
}

#header_container_searchBar {
  margin-left: 4rem;
}
#header_container_title {
  margin-left: 0.4rem;
  height: 1.5rem;
  width: 10rem;
  border: 1px solid #ffdb58;
  color: #ffdb58;
  font-family: "Architects Daughter", cursive;

  background-color: black;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  font-size: larger;
  margin-top: -3px;
}
#header_container_input {
  width: 16.6rem;
  height: 2rem;
  font-size: large;
}
#header_container_input_searchIcon {
  margin-top: -2.37rem;
  position: relative;
  color: black;
  background-color: #ffdb58;
  width: 3.9rem;
  /* z-index: 2; */
  /* height: 2.3rem; */
  padding: 4.6px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 4px;
  text-align: center;
  margin-left: 17rem;
  border: 1px solid;
}
#header_container_administrativePower {
  font-size: 21px;
  font-weight: 500;
  margin-left: 6rem;
  margin-top: 9px;
  cursor: pointer;
  color: black;
  /* border:2px solid; */
}
#header_container_myQueries {
  margin-left: 4rem;
  font-size: 21px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 9px;
}
#header_container_account_logo {
  font-size: large;
  font-weight: 500;
  margin-left: 4rem;
  margin-top: 9px;
}

/* header */
/* header */
/* header */

/* main - page */
/* main - page */
/* main - page */

#main_page_container {
  /* border: 2px solid blue; */
  /* height:20rem; */
}

#main_page_container_leftPart {
  width: 46%;

  margin-top: 3rem;

  margin-left: 2rem;
}
#main_page_container_leftPart_title {
  font-size: 4.7rem;
}

#main_page_container_rightPart {
  /* border:2px solid green; */
  width: 50%;
  margin-left: 39rem;
  margin-top: -28rem;
  height: 30rem;
}

#main_page_container_rightPart_firstEllipse {
  width: 217px;
  height: 82px;
  background-color: var(--main-color);
  border-radius: 50%;
  transform: rotate(30deg);
  border: 3px solid black;
  margin-top: 3rem;
  margin-left: 1.5rem;
  font-size: large;
  font-weight: 500;
  text-align: center;
}
#main_page_container_rightPart_secondEllipse {
  width: 217px;
  height: 82px;
  background-color: var(--main-color);
  border-radius: 50%;
  border: 3px solid black;
  text-align: center;
  font-weight: 500;
  font-size: large;
  font-weight: 500;
  transform: rotate(-30deg);
  margin-top: -5.4rem;
  margin-left: 22rem;
}
#main_page_container_rightPart_thirdEllipse {
  margin-left: 11.8rem;
  border: 3px solid black;
  text-align: center;
  /* font-weight: 500; */
  font-size: large;
  font-weight: 500;
  width: 217px;
  height: 82px;
  background-color: var(--main-color);
  border-radius: 50%;
  transform: rotate(90deg);
  margin-top: 12.1rem;
}
#main_page_container_rightPart_firstEllipse_inner {
  margin-top: 23px;
  font-size: x-large;
  font-weight: 500;
}
#main_page_container_rightPart_secondEllipse_inner {
  margin-top: 23px;
  font-size: x-large;
  font-weight: 500;
}
#main_page_container_rightPart_thirdEllipse_inner {
  margin-top: 23px;
  font-size: x-large;
  font-weight: 500;
}
#main_page_container_rightPart_firstEllipse_line {
  margin-top: -15.5rem;
  /* height: 3px; */
  width: 5rem;
  border: 1px solid black;
  margin-left: 13.9rem;
  transform: rotate(30deg);
}
#main_page_container_rightPart_secondEllipse_line {
  width: 5rem;
  margin-left: 18.39rem;
  margin-top: -2px;
  transform: rotate(-30deg);
  border: 1px solid black;
}
#main_page_container_rightPart_thirdEllipse_line {
  width: 4.7rem;
  transform: rotate(90deg);
  border: 1px solid black;
  margin-left: 16.25rem;
  margin-top: 3.6rem;
}

#main_page_rightPart_after {
  border: 2px solid black;
  background-color: var(--main-color);
  width: 39.2rem;
  /* margin-left:1rem; */
  margin-top: -14.5rem;
  height: 31rem;
  position: relative;
  z-index: 3;
}

/* main - page */
/* main - page */
/* main - page */

/* Query page */
/* Query page */

#askQuery_container {
  /* height: 17rem; */
  /* border: 2px solid peru; */
  /* margin-top: 2rem; */
  background-color: #f0f0f0;
  padding: 0.1px;
}

#askQuery_container_header {
  text-align: center;
  font-size: 30px;
  margin-top: 29px;
}
#askQuery_container_desc {
  font-family: sans-serif;
  text-align: center;
  width: 80%;
  margin-left: 7rem;
  margin-top: 3rem;
  font-size: 20px;
  line-height: 39px;
}
#askQuery_container_leftPart {
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid #1937be;
  text-align: center;
  height: 3.5rem;
  background-color: #1937be;
  width: 60rem;
  margin-top: 7rem;
  color: white;
  margin-bottom: 3rem;
  /* text-align: center; */
  margin-left: 8rem;
}

#askQuery_container_leftPart_realtitle {
  /* border: 2px solid blue;; */
  margin-top: 15px;
  font-size: larger;
  font-family: sans-serif;
  margin-left: 19px;
}

/* Query page */
/* Query page */

/* Quick updates */
/* Quick updates */
/* Quick updates */

#quickUpdates_container {
  border: 2px solid red;
  margin-top: 2rem;
}

#quickUpdates_container_title {
  text-align: center;
  font-size: x-large;
  font-weight: 500;
}
#quickUpdates_container_main {
  border: 2px solid green;
}
#quickUpdates_container_main_left {
  height: 25rem;
  width: 20rem;
  border: 2px solid purple;
}
#quickUpdates_container_main_left_title {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  font-size: x-large;
  background-color: black;
  color: var(--main-color);
}

#quickUpdates_container_main_left_country {
  margin-top: 2rem;
  display: block;
}
#quickUpdates_container_main_left_category {
  margin-top: 2rem;
}
#quickUpdates_container_main_left_query {
  margin-top: 2rem;
}
#quickUpdates_container_main_left_language {
  margin-top: 2rem;
}
#quickUpdates_container_main_left_but {
  border: none;
  text-align: center;
  font-size: large;
  background-color: black;
  color: var(--main-color);
  margin-left: 5rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 26px;
}

#quickUpdates_container_main_right {
  height: 25rem;
  /* width:52rem; */
  border: 2px solid rgb(100, 23, 33);
  overflow-y: scroll;
  margin-left: 20.5rem;
  margin-top: -25.2rem;
}

/* Quick updates */
/* Quick updates */
/* Quick updates */

/* quick updates child */
/* quick updates child */
/* quick updates child */
/* quick updates child */

#quickUpdates_child_container {
  /* height:17rem; */
  /* width:99.7%; */
  border: 2px solid violet;
  margin-top: 2rem;
}
#quickUpdates_child_container_image {
  border: 2px solid green;
  width: 36%;
}
#quickUpdates_child_container_main_image {
  height: 19rem;
  margin-top: 1rem;
}
#quickUpdates_child_container_image_real {
  height: 100%;
  width: 100%;
}
#quickUpdates_child_container_main_data {
  border: 2px solid red;
  margin-left: 21rem;
  margin-top: -19.7rem;
  height: 20rem;
}

#quickUpdates_child_container_author {
  margin-top: 10px;
}
#quickUpdates_child_container_description {
  margin-top: 10px;
}
#quickUpdates_child_container_content {
  margin-top: 10px;
}
#quickUpdates_child_container_url {
  margin-top: 10px;
}
/* quick updates child */
/* quick updates child */
/* quick updates child */

/* Organisation things */
/* Organisation things */
/* Organisation things */

#OrgThings_container {
  border: 2px solid rgb(77, 255, 0);
  margin-top: 3rem;
  height: 20rem;
}
#OrgThings_container_title {
  text-align: center;
  border: 2px solid red;
  font-size: x-large;
}

#OrgThings_container_filter {
  height: 16rem;
  width: 27%;
  margin-top: 10px;
  /* background-color: blue; */
  /* margin-left:4rem; */
  border: 1px solid black;
}
#OrgThings_container_filter_selectDepartment_title {
  /* color:white; */
  margin-top: 10px;
  /* text-align: center; */
}

#OrgThings_container_filter_selectDepartment_dropDown {
  height: 1.2rem;
  width: 15.5rem;
  border: 2px solid;
  cursor: pointer;
}
#OrgThings_container_filter_selectDepartment_dropDown_expandMore {
  position: relative;
  top: -1.4rem;
  left: 13.5rem;

  font-size: unset;
  /* border:2px solid red; */
}
#OrgThings_container_filter_selectDepartment_box {
  display: block;
  background-color: #080908;
  position: absolute;
  color: white;
  width: 10.2rem;
  cursor: pointer;
  display: none;
}
.selectDepartmentToggle {
  display: none;
}

.OrgThings_container_filter_selectDepartment_box_class {
  margin-top: 10px;
  /* margin-left:10px; */
  border-bottom: 1px solid;
}

.OrgThings_container_filter_selectDepartment_box_class:hover {
  background-color: white;
  color: black;
}

#OrgThings_container_filter_searchSpecific {
  /* margin-left:10rem; */
  margin-top: 2rem;
}
#OrgThings_container_filter_searchSpecific_input {
  height: 1.5rem;
  width: 70%;
}
#OrgThings_container_filter_submitBut {
  margin-top: 1rem;
  margin-left: 8rem;
}

#OrgThings_container_rightPart {
  border: 2px solid brown;
  margin-top: -16rem;
  margin-left: 23rem;
  height: 17rem;
}
#OrgThings_container_leftArrow {
  background-color: red;
  height: 2rem;
  width: 2rem;
  margin-top: 8rem;
  cursor: pointer;
}
#OrgThings_container_scrollContainer {
  height: 16.3rem;
  width: 89%;
  margin-top: -9.5rem;
  margin-left: 3rem;
  overflow-x: scroll;
  /* display:flex; */
  white-space: nowrap;
  border: 2px solid black;
}
#OrgThings_container_scrollContainer::-webkit-scrollbar {
  display: none;
}
#OrgThings_container_rightArrow {
  background-color: red;
  height: 2rem;
  width: 2rem;
  margin-left: 53rem;
  margin-top: -9rem;
  cursor: pointer;
}

/* Organisation things */
/* Organisation things */

/* Child_organisation things */
/* Child_organisation things */
/* Child_organisation things */

#child_OrgThings_container {
  height: 16rem;

  width: 30rem;
  margin-left: 4rem;
  display: flex;
  /* display: flex; */
  flex-wrap: wrap;
  /* white-space: nowrap; */
  /* flex-direction: column; */
  /* overflow:auto; */
  /* background-color: green; */
  border: 2px solid rgb(10, 10, 10);
  display: inline-block;
}
#child_OrgThings_container_random {
  width: 40%;
  border: 2px solid red;
}

/* Child_organisation things */
/* Child_organisation things */
/* Child_organisation things */

/* Global Sharing concept container */
/* Global Sharing concept container */
/* Global Sharing concept container */

#GlobalSharing_concept_container {
  /* border:2px solid; */
  text-align: center;
  margin-top: 0rem;
  padding: 0.1px;
  background-color: #f0f0f0;
  height: 29rem;
}

#GlobalSharing_concept_container_title {
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
  font-size: 27px;
  margin-top: 2rem;
}
#GlobalSharing_concept_container_message {
  margin-top: 2rem;
  font-size: larger;
  width: 84%;
  font-family: sans-serif;
  line-height: 40px;
  margin-left: 7rem;
}
#GlobalSharing_concept_container_arrow {
  margin-top: 5rem;
  padding: 0.1px;
}
#GlobalSharing_concept_container_arrow_first {
  background-color: #1937be;
  color: white;
  width: 50%;
  padding: 64px;
  margin-left: 20rem;
  /* height: 2rem; */
  font-family: sans-serif;
  padding: 7px 24px 10px 0px;
  border-radius: 5px;
  font-size: 21px;
  margin-top: 2px;
}
#GlobalSharing_concept_container_arrow_second {
  font-size: xxx-large;
  /* margin-top: 0rem; */
  margin-left: 1rem;
  position: relative;
  top: -48px;
  color: white;
  left: 247px;
}

/* Global Sharing concept container */
/* Global Sharing concept container */
/* Global Sharing concept container */

/* Global_Shared */
/* Global_Shared */
/* Global_Shared */

#publically_shared_container {
  /* border: 2px solid red; */
  margin-top: 3rem;
  /* height:8rem; */
  /* margin-bottom: 16rem; */
}
#publically_shared_container_title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 30px;
  padding: 12px;
  font-family: sans-serif;
}
#publically_shared_container_left {
  border: 2px solid black;
  height: 30.7rem;
  width: 25%;
  margin-top: 4px;
}
#publically_shared_container_expandMore {
  font-size: large;
  border: 2px solid;
  cursor: pointer;
  width: 7%;
  border-radius: 8px;
  margin-top: -2.1rem;
  margin-left: 72rem;
  padding: 1px 1px 1px 9px;
  background-color: #0000e9;
  color: white;
}
#publically_shared_container_expandLink {
  margin-left: 5px;
  position: relative;
  top: 3px;
  font-size: unset;
}
#publically_shared_container_left_selectOrganisation {
  margin-top: 4rem;
  margin-left: 10px;
  font-size: large;
  font-family: sans-serif;
}
#publically_shared_container_left_selectOrganisation_expand {
  height: 1.5rem;
  width: 80%;
  margin-left: 10px;
  border: 2px solid;
}
#publically_shared_container_left_selectDepartment {
  font-size: large;
  margin-top: 2rem;
  margin-left: 10px;
  font-family: sans-serif;
}
#publically_shared_container_left_selectDepartment_expand {
  height: 1.5rem;
  width: 80%;
  border: 2px solid;
  margin-left: 10px;
}
#publically_shared_container_left_specific {
  height: 1.5rem;
  margin-top: 2rem;
  /* font-size: large; */
  margin-left: 10px;
  width: 78.5%;
}
#publically_shared_container_right {
  border: 2px solid brown;
  height: 30.7rem;
  margin-top: -31rem;
  margin-left: 20rem;
  background-color: #f5f5f5;
  overflow-y: scroll;
}

/* Global_Shared */
/* Global_Shared */
/* Global_Shared */

/* Child_Globally_shared */
/* Child_Globally_shared */
/* Child_Globally_shared */

#child_globally_shared_container {
  height: 27rem;
  margin-top: 2rem;
  width: 94%;
  border-radius: 11px;
  background-color: white;
  margin-left: 0.9rem;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  padding: 12px;
}
#child_globally_shared_container_orgName {
  font-size: large;
}
#child_globally_shared_container_departmentName {
  font-size: large;
  margin-top: 10px;
}
#child_globally_shared_container_query {
  margin-top: 10px;
  font-family: sans-serif;
  line-height: 25px;
  border: 1px solid;
  padding: 12px;
  height: 21rem;
  overflow-y: scroll;
}
.child_globally_shared_container_bold {
  font-weight: 500;
}
/* Child_Globally_shared */
/* Child_Globally_shared */
/* Child_Globally_shared */

/* Footer_Container */
/* Footer_Container */
/* Footer_Container */

#footer_container {
  /* height: 15rem; */
  /* background-color: black; */
  /* color: white; */
  /* bottom: 0; */
  margin-top: 3rem;
  /* top: 7rem; */
  width: 99.7%;
  border: 2px solid black;
  height: 29rem;
  background-color: black;
}
#footer_container_beforeLine {
  display: flex;
  /* border: 2px solid blue; */
  margin-left: 6rem;
  margin-top: 5rem;
  justify-content: space-between;
  width: 83%;
}
#footer_container_beforeLine_first_image {
  width: 7rem;
  height: 7rem;
}

#footer_container_beforeLine_second {
  color: white;
  /* border: 2px solid; */
}

#footer_container_beforeLine_second_title {
  font-size: large;
}
#footer_container_beforeLine_second_para {
  line-height: 23px;
  color: gray;
  margin-top: 1rem;
}

#footer_container_beforeLine_third {
  /* border: 2px solid; */
  color: white;
}
#footer_container_beforeLine_third_title1 {
  font-size: large;
}
#footer_container_beforeLine_third_para1 {
  margin-top: 1rem;
  color: gray;
}

#footer_container_beforeLine_third_title2 {
  font-size: large;
  margin-top: 1rem;
}
#footer_container_beforeLine_third_para2 {
  margin-top: 1rem;
  color: gray;
}

#footer_container_beforeLine_third_title3 {
  font-size: large;
  margin-top: 1rem;
}
#footer_container_beforeLine_third_para3 {
  margin-top: 1rem;
  color: gray;
}

#footer_container_beforeLine_fourth {
  margin-left: 0rem;
  margin-right: 1rem;
  color: white;
  /* border: 2px solid; */
}
#footer_container_beforeLine_fourth_title1 {
  font-size: large;
}
#footer_container_beforeLine_fourth_icons {
  /* border: 2px solid; */
  height: 1rem;
  cursor: pointer;
  margin-top: 1.2rem;
  /* width:8rem; */
}
#footer_container_beforeLine_fourth_title2 {
  font-size: large;
  margin-top: 1.8rem;
}
#footer_container_beforeLine_fourth_second_but {
  margin-top: 1rem;
  height: 1.5rem;
  /* border: 2px solid; */
  background-color: #1937be;
  width: 8rem;
  padding: 5px;
  color: white;
  text-align: center;
  border-radius: 7px;
}

#footer_container_line {
  border: 1px solid;
  width: 93%;
  margin-left: 2rem;
  color: gray;
  /* height: -2.7rem;  */
  margin-top: 4rem;
}

#footer_container_afterLine_container {
  margin-top: 2rem;
  margin-left: 2rem;
  gap: 2rem;
  display: flex;
  color: white;
}

#footer_container_afterLine_container_seventh {
  /* border: 2px solid; */
  width: 10rem;
  /* border-radius: 6px; */
  height: 1.7rem;
  margin-left: 12rem;
  color: white;
}
#footer_container_afterLine_container_eight {
  border-radius: 6px;
  /* border: 2px solid; */
  width: 8rem;
  color: white;
  height: 1.7rem;
}

/* Footer_Container */
/* Footer_Container */
/* Footer_Container */

/* Administrator Container */
/* Administrator Container */
/* Administrator Container */
/* Administrator Container */

#administrator_container_frontLeftPart {
  width: 45%;
  height: 31rem;
  /* border: 2px solid green; */
}
#administrator_container_frontLeftPart_heading {
  font-size: 60px;
  margin-top: 3rem;
  text-align: center;
  margin-left: 0.1rem;
}
#administrator_container_frontLeftPart_para {
  margin-left: 15px;
  font-size: large;
  margin-top: 3rem;
  text-align: center;
  line-height: 29px;
  font-family: sans-serif;
  width: 98%;
  color: gray;
}
#administrator_container_frontLeftPart_viewQueryButton {
  margin-top: 2.5rem;
  margin-left: 7rem;
  border: 2px solid;
  width: 18rem;
  text-align: center;
  font-size: larger;
  padding: 0.6rem;
  font-family: sans-serif;
  color: white;
  background-color: #1937be;
  border-radius: 10px;
  cursor: pointer;
}

#administrator_container_frontRightPart {
  margin-left: 40rem;
  margin-top: -34rem;
}

#administrator_container_secondInfo {
  /* border: 2px solid purple; */
  background-color: #f5f5f5;
}
#administrator_container_secondInfo_heading {
  margin-left: 17rem;
  text-align: center;
  padding-top: 3rem;
  width: 40rem;
  font-weight: 500;
  margin-top: 3rem;
  font-size: 31px;
}
#administrator_container_secondInfo_dataContainer {
  margin-top: 2rem;
  display: flex;
  background-color: whitesmoke;
}
#secondInfo_child_administratorContainer {
  height: 26rem;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  margin-left: 2rem;
  border-radius: 5px;
  margin-bottom: 3.5rem;
  /* border:2px solid black; */
  background-color: white;
  cursor: pointer;
}

#secondInfo_child_administratorContainer_image {
  height: 11rem;
  padding: 9px;
}
#secondInfo_child_administratorContainer_title1 {
  margin-left: 10px;
}
#secondInfo_child_administratorContainer_title2 {
  margin-left: 12px;
  font-weight: 500;
  margin-top: 9px;
  width: 15.6rem;
  font-size: x-large;
}
.secondInfo_child_administratorContainer_footer {
  margin-left: 10px;
  font-size: large;
  margin-top: 5rem;
  font-family: sans-serif;
  color: #1264a3;
}
#secondInfo_child_administratorContainer_footerArrow {
  top: 6px;
  left: 4rem;
  position: relative;
}
#administrator_container_thirdAds {
  margin-top: 4rem;
  border: 2px solid red;
  height: 6rem;
}
#administrator_container_viewQueries {
  font-family: sans-serif;
  width: 20rem;
  margin-top: 2rem;
  padding: 6px;
  margin-left: 28rem;
  border: 2px solid blue;
  background-color: #1937be;
  text-align: center;
  color: white;
  border-radius: 5px;
  font-size: larger;
  cursor: pointer;
}
#administrator_container_allQueriesContainer {
  margin-top: -2rem;
}
#administrator_container_filterUp {
  border: 1px solid #1937be;
  margin-top: 2.9rem;
  background-color: #f0f0f0;
  height: 6rem;
  margin-left: 5rem;
}

#administrator_container_filterUp_inputTitle {
  font-size: 15px;
  height: 1.5rem;
  width: 15rem;
  margin-top: 6px;
  margin-left: 7rem;
}
#administrator_container_filterUp_inputDesc {
  font-size: 15px;
  height: 1.5rem;
  width: 15rem;
  margin-top: 0.3rem;
  margin-left: 1rem;
}
#administrator_container_filterUp_boxProgress {
  text-align: center;
  border: 2px solid blue;
  width: 10rem;
  margin-left: 7rem;
  margin-top: 1.1rem;
  font-size: 16px;
  height: 1.3rem;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
}
#administrator_container_filterUp_boxCompleted {
  height: 1.3rem;
  width: 10rem;
  border: 2px solid blue;
  text-align: center;
  font-size: 16px;
  padding: 4px;
  margin-top: -2rem;
  cursor: pointer;
  margin-left: 19rem;
  border-radius: 3px;
}
#administrator_container_filterUp_selectAll {
  height: 1.3rem;
  width: 4rem;
  border: 2px solid blue;
  text-align: center;
  font-size: 16px;
  padding: 4px;
  background-color: #1937be;
  color: white;
  margin-top: -2rem;
  cursor: pointer;
  margin-left: 31rem;
  border-radius: 3px;
}
#administrator_container_filterUp_sort {
  text-align: center;
  width: 17rem;
  margin-top: -4rem;
  border: 2px solid #1937be;
  margin-left: 42rem;
  font-size: larger;
}
#administrator_container_filterUp_firstSeparation {
  margin-top: -5rem;
  margin-left: 40rem;
  border: 1px solid blue;
  height: 5rem;
  width: 0rem;
}
#administrator_container_filterUp_secondSeparation {
  margin-top: -2.8rem;
  margin-left: 62rem;
  border: 1px solid blue;
  height: 5rem;
  width: 0rem;
}
#administrator_container_filterUp_search {
  font-size: 15px;
  padding: 6px;
  text-align: center;
  border: 2px solid #1937be;
  width: 5rem;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 66rem;
  margin-top: -85px;
  font-family: sans-serif;
}
#administrator_container_filterUp_reset {
  font-size: 15px;
  text-align: center;
  border: 2px solid #1937be;
  width: 5rem;
  padding: 6px;
  cursor: pointer;
  border-radius: 3px;
  margin-left: 66rem;
  margin-top: 15px;
  font-family: sans-serif;
}

#administrator_container_filterLeft {
  /* border: 2px solid green; */
  margin-top: -6.06rem;
  height: 35.4rem;
  background-color: #f0f0f0;
  width: 11.5rem;
}

#administrator_container_filterLeft_organisationHeading {
  /* border: 2px solid red; */
  /* margin-top: 2rem; */
  padding: 2px;
  cursor: pointer;
  font-size: large;
  color: white;
  background-color: #1937be;
}
#administrator_container_filterLeft_organisationHeading_expand {
  /* left: 9.5rem; */
  position: relative;
  top: 5px;
}
#administrator_container_filterLeft_organisationHeadingSelect {
  border: 2px solid blue;
  height: 21rem;
  overflow-y: scroll;
  transition: height 1s, opacity 0.5s;
  background-color: white;

  /* margin-top: -1.6rem; */
}
.administrator_container_filterLeft_organisationHeadingSelect_childClass {
  margin-top: 1rem;
  border-bottom: 1px solid #1264a3;
  cursor: pointer;
  padding: 5px;
}
.administrator_container_filterLeft_organisationHeadingSelect_childClass:hover {
  background-color: #dbdbdb;
}
#administrator_container_filterLeft_departmentHeading {
  /* border: 2px solid red; */
  margin-top: 2rem;
  color: white;
  background-color: #1937be;
  padding: 2px;
  cursor: pointer;
  font-size: large;
}
#administrator_container_filterLeft_departmentHeading_expand {
  position: relative;
  top: 6px;
  left: 5px;
}

#administrator_container_filterLeft_departmentHeadingSelect {
  overflow-y: scroll;
  border: 2px solid blue;
  /* display:none; */
  height: 0rem;
  background-color: white;
  opacity: 0;
  transition: height 1s, opacity 0.5s;
}

.administrator_container_filterLeft_departmentHeadingSelect_childClass {
  margin-top: 1rem;
  border-bottom: 1px solid #1264a3;
  cursor: pointer;
  padding: 5px;
}
.administrator_container_filterLeft_departmentHeadingSelect_childClass:hover {
  background-color: #dbdbdb;
}
#administrator_container_filterLeft_preferencesHeading {
  /* border: 2px solid red; */
  margin-top: 2rem;
  font-size: large;
  cursor: pointer;
  color: white;
  background-color: #1937be;
  padding: 2px;
}

#administrator_container_filterLeft_preferencesHeading_expand {
  position: relative;
  top: 6px;
  left: 8px;
}
#administrator_container_filterLeft_preferencesHeadingSelect {
  overflow-y: scroll;
  border: 2px solid blue;
  height: 0rem;
  background-color: white;
  opacity: 0;
  transition: height 1s, opacity 1s;
}
.administrator_container_filterLeft_preferencesHeadingSelect_childClass {
  margin-top: 1rem;
  padding: 5px;
  border-bottom: 1px solid #1264a3;
  cursor: pointer;
}
.administrator_container_filterLeft_preferencesHeadingSelect_childClass:hover {
  background-color: #dbdbdb;
}
#administrator_container_queriesContainer {
  margin-left: 11.7rem;
  margin-top: -29.4rem;
  /* border: 2px solid brown; */
}

#child_administrator_matter {
  border: 4px solid black;
  /* height: 32rem; */
  margin-top: 3rem;

  /* color:white; */
  /* background-color: black; */
}

#child_administrative_matter_headingTop_box1 {
  /* border-radius: 50%; */
  /* margin-left: 2px; */
  height: 1rem;
  /* margin-top: 2px;  */
  width: 1rem;
  background-color: red;
  cursor: pointer;
}
#child_administrative_matter_headingTop_box2 {
  /* border-radius: 50%; */
  margin-left: 65.75rem;
  height: 1rem;
  margin-top: -1rem;
  width: 1rem;
  background-color: red;
  cursor: pointer;
}
#child_administrative_matter_headingTop_real {
  /* border: 2px solid green; */
  margin-top: -0.2rem;
  font-size: xx-large;
  text-align: center;
}

#child_administrative_matter_sideBarLeft {
  height: 24.8rem;
  border: 1px solid #1937be;
  width: 9rem;
  /* margin-top: -4.5rem; */
  background-color: white;
  margin-left: 0.2rem;
  margin-top: 1rem;
}
#child_administrative_matter_sideBarLeft_organisationHeading {
  width: 6rem;
  border: 1px solid;
  margin-top: 1rem;
}
#child_administrative_matter_sideBarLeft_organisationName {
  padding: 2px;
  border: 1px solid;
  margin-top: 3px;
}
#child_administrative_matter_sideBarLeft_departmentHeading {
  width: 6rem;
  border: 1px solid;
  margin-top: 2rem;
}
#child_administrative_matter_sideBarLeft_departmentName {
  padding: 2px;
  border: 1px solid;
  margin-top: 3px;
}

#child_administrative_matter_sideBarLeft_dateHeading {
  width: 6rem;
  border: 1px solid;
  margin-top: 2rem;
}
#child_administrative_matter_sideBarLeft_dateName {
  padding: 2px;
  border: 1px solid;
  margin-top: 3px;
}
#child_administrative_matter_mainData {
  height: 24.78rem;
  border: 1px solid #1937be;
  margin-top: -24.84rem;
  width: 46.6rem;
  margin-left: 9.5rem;
  overflow-y: scroll;
}
#child_administrative_matter_sideBarRight {
  margin-left: 56.5rem;
  height: 24.79rem;
  width: 10rem;
  margin-top: -24.9rem;
  border: 1px solid #1937be;
  background-color: white;
}
#child_administrative_matter_sideBarRight_text {
  border: 1px solid;
  height: 2rem;
  /* margin-top: 5rem; */
  text-align: center;
  cursor: pointer;
  background-color: #1937be;
  color: white;
}
#child_administrative_matter_sideBarRight_links {
  border: 1px solid;
  height: 2rem;
  margin-top: 5rem;
  text-align: center;
  cursor: pointer;
}
#child_administrative_matter_sideBarRight_images {
  border: 1px solid;
  height: 2rem;
  margin-top: 5rem;
  text-align: center;
  cursor: pointer;
}
#child_administrative_matter_sideBarRight_videos {
  border: 1px solid;
  height: 2rem;
  margin-top: 5rem;
  text-align: center;
  cursor: pointer;
}
#child_administrator_matter_downBarClicks {
  border: 2px solid #1937be;
  height: 3rem;
  text-align: center;
  margin-top: 4px;
  cursor: pointer;
}
#child_administrator_matter_downBarClicks_icon {
  margin-top: -11px;
  font-size: 67px;
}

#child_administrative_matter_downBarBottom {
  /* border: 2px solid #1937be; */
  margin-bottom: 1rem;
  display: none;
  margin-top: 17px;
  height: 11.5rem;
}

#child_administrative_matter_downBarBottom_first_heading {
  font-size: larger;
  margin-top: 8px;
  margin-left: 11px;
}
#child_administrative_matter_downBarBottom_first_textarea {
  margin-top: 10px;
  margin-left: 11px;
}
#child_administrative_matter_downBarBottom_first_textareaReal {
  width: 547px;
  /* display: none; */
  height: 79px;
}
#child_administrative_matter_downBarBottom_first_submitComment {
  margin-bottom: 10px;
  text-align: center;
  margin-left: 10.6rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #1937be;
  padding: 3px;
  border: 1px solid;
  width: 13rem;
  color: white;
  font-size: large;
  margin-top: 8px;
}

#child_administrative_matter_downBarBottom_firstLine {
  height: 7rem;
  width: 0px;
  margin-top: 28px;
  margin-left: 2rem;
  border: 1px solid;
}
#child_administrative_matter_downBarBottom_second {
  width: 27rem;
  /* border: 2px solid blue; */
  margin-left: 2rem;
}
#child_administrative_matter_downBarBottom_second_header {
  text-align: center;
  font-size: x-large;
  /* border: 2px solid #1937be; */
}
#child_administrative_matter_downBarBottom_second_completed {
  text-align: center;
  border-radius: 2px;
  margin-top: 29px;
  font-size: large;
  cursor: pointer;
  padding: 3px;
  width: 11rem;
  border: 2px solid #1937be;
}
#child_administrative_matter_downBarBottom_second_inProgress {
  border-radius: 2px;
  width: 11rem;
  font-size: large;
  padding: 3px;
  border: 2px solid #1937be;
  cursor: pointer;
  margin-top: -35px;
  text-align: center;
  margin-left: 15rem;
}

#child_administrative_matter_downBarBottom_second_save {
  padding: 3px;
  border-radius: 4px;
  text-align: center;
  border: 2px solid #1937be;
  /* font-size: larger; */
  cursor: pointer;
  margin-top: 2.4rem;
  color: white;
  width: 5rem;
  /* height: 1rem; */
  background-color: #1937be;
  margin-left: 10.5rem;
}
#child_administrative_matter_downBottom_delete {
  color: #a40e26;
  display: none;
  text-align: center;
  border: 3px solid #a40e26;
  font-size: 19px;
  padding: 10px;
  margin-top: -0.3rem;
  /* background-color: #a40e26; */
  cursor: pointer;
}
#child_administrative_matter_downBottom_delete:hover {
  background-color: #a40e26;
  color: white;
}
/* Administrator Container */
/* Administrator Container */
/* Administrator Container */
/* Administrator Container */

/* My Queries Container */
/* My Queries Container */
/* My Queries Container */
/* My Queries Container */
/* My Queries Container */
/* My Queries Container */
/* My Queries Container */
/* My Queries Container */
/* My Queries Container */
/* My Queries Container */
/* My Queries Container */

#my_queries_container {
  background: url(../public/Images/samuel-scalzo-xyuYk9oLA8I-unsplash.jpg)
    no-repeat left/cover;
  height: 37rem;
  padding: 0.1px;
  text-align: center;
}
#my_queries_container_tagLine {
  color: white;
  /* margin-top: 0rem; */
  font-size: xxx-large;
  /* border: 2px solid; */
  margin: 0 auto;
  font-family: sans-serif;

  margin-top: 6rem;
  /* margin-left: 12rem; */
  text-align: center;
  width: 858px;
}

#my_queries_container_para {
  color: white;
  /* font-size: large; */
  margin-left: 6rem;
  font-weight: 700;
  font-family: sans-serif;
  font-size: larger;
  line-height: 37px;
  margin-top: 2rem;
  text-align: center;
  width: 65rem;
  transition: visibility 2s ease-out, opacity 2s ease-out;
}
#my_queries_container_firstSecondGap {
  background-color: black;
  height: 4rem;
  z-index: 1;
  position: relative;
}

#my_queries_container_second_header {
  height: 10rem;
  width: 100%;
  background-color: #f5f5f5;
  /* border: 2px solid red; */
  padding: 0.1px;
  z-index: 1;
}
#my_queries_container_second_header_flex {
  display: flex;
  margin-top: 2rem;
}
.my_queries_container_second_header_flexChild_class {
  font-size: large;
  padding: 13px;
  background-color: white;
  border-radius: 9px;
}
#my_queries_container_second_header_flex_first {
  margin-left: 3rem;
  background-color: black;
  color: white;
  cursor: pointer;
}
#my_queries_container_second_header_flex_second {
  margin-left: 1rem;
  cursor: pointer;
}
#my_queries_container_second_header_flex_third {
  margin-left: 1rem;
  cursor: pointer;
}
#my_queries_container_second_header_flex_fourth {
  margin-left: 1rem;
  cursor: pointer;
}
#my_queries_container_second_header_flex_fifth {
  margin-left: 1rem;
  cursor: pointer;
}

#my_queries_container_second_image {
  height: 25rem;
  width: 34rem;
  border: 2px solid red;
  margin-left: 42rem;
  position: relative;
  /* z-index: 1; */
}

#my_queries_container_second_bottom {
  padding: 0.1px;
  margin-top: -25.3rem;
  background-color: #f5f5f5;
}

.my_queries_container_second_bottomChild_class {
  height: 28rem;
  width: 36rem;
  margin-top: 2rem;
  margin-left: 4.4rem;
  padding: 0.1px;
}
.my_queries_container_second_bottom_data_class {
  height: 13rem;
  width: 28rem;
  margin-top: 8rem;
}
#my_queries_container_second_bottom_first_data {
  margin-top: 4rem;
}
.my_queries_container_second_bottom_dataChildFirst_class {
  font-family: sans-serif;
  font-size: xx-large;
  line-height: 42px;
  font-weight: 700;
}
.my_queries_container_second_bottom_dataChildSecond_class {
  margin-top: 18px;
  font-size: large;
}

#my_queries_container_third_viewQueries_showDirection {
  margin-top: 2rem;
  text-align: center;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: x-large;
  background-color: #1937be;
  width: 29rem;
  color: white;
  margin-left: 23rem;
  padding: 10px;
}
#my_queries_container_third_viewQueries_filter {
  margin-top: 1rem;
  font-size: x-large;
  border-radius: 20px;
  border: 2px solid #1937be;
  width: 7rem;
  cursor: pointer;
  padding: 5px;
}
#my_queries_container_third_viewQueries_filter_font {
  left: 16px;
  position: relative;
  top: 4px;
}
#my_queries_container_third_viewQueries_data {
  /* height: 10rem; */
  width: 100%;
  background-color: #f5f5f5;
}

/* ?card */
/* card */
/* card */

#card {
  height: 34.8rem;
  width: 22.5rem;
  /* background-color: black; */
  padding: 0.1px;
  /* border: 2px solid; */
  border-radius: 15px;
  background-color: white;
  display: inline-block;
  margin-left: 3rem;
  margin-top: 3rem;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
}

#card_upper {
  margin-left: 0.4rem;
  border: 2px solid;
  background-color: #1937be;
  color: white;
  width: 20.4rem;
  border-radius: 15px;
  height: 12rem;
  padding: 8px;
  margin-top: 0.5rem;
}
#card_upper_title {
  font-size: x-large;
  font-weight: 700;
  height: 3.5rem;
  overflow: hidden;
  font-family: sans-serif;
}
#card_upper_para {
  margin-top: 2.8rem;
  overflow: hidden;
  height: 5rem;
}
#card_between {
  font-size: larger;
  margin-left: 18px;
  margin-top: 4px;
  font-weight: 700;
  color: black;
  font-family: sans-serif;
}
#card_lower {
  margin-top: 10px;
  /* height: 14rem; */
  /* background-color: gray; */
  padding: 0.1px;
  color: black;
}

#card_lower_name {
  margin-left: 14px;
  background-color: white;
  transition: box-shadow 2s;
  border-radius: 16px;
  box-shadow: inset -1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  width: 19.8rem;
  padding: 6px;
  cursor: pointer;
  overflow: hidden;
}
#card_lower_name_first {
  color: #515150;
  font-family: sans-serif;
}
#card_lower_name_second {
  font-size: larger;
  margin-top: 5px;
  overflow: hidden;
}
#card_lower_anonyKey {
  width: 90%;
  margin-top: 8px;
  margin-left: 14px;
  background-color: white;
  box-shadow: inset -1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  /* padding-bottom: 10px; */
  /* padding-left: 8px; */
  border-radius: 16px;
  width: 19.6rem;
  cursor: pointer;
  padding: 6px;
  overflow: hidden;
  /* background-color: rebeccapurple; */
  /* border: 2px solid white; */
}
#card_lower_anonyKey_first {
  color: #515150;
  font-family: sans-serif;
}
#card_lower_anonyKey_second {
  font-size: larger;
  margin-top: 5px;
  overflow: hidden;
}
#card_lower_org {
  border-radius: 16px;
  /* border: 2px solid; */
  padding: 6px;
  background-color: white;
  box-shadow: inset -1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  width: 8.4rem;
  overflow: hidden;
  margin-top: 10px;
  /* border: 2px solid white; */
  margin-left: 17px;
  cursor: pointer;
  /* width: 90%; */
  /* background-color: rebeccapurple; */
}
#card_lower_org_first {
  color: #515150;
  font-family: sans-serif;
}
#card_lower_org_second {
  font-size: larger;
  overflow: hidden;
  margin-top: 5px;
}
#card_lower_dept {
  margin-top: -57px;
  margin-left: 12rem;
  /* border: 2px solid white; */
  /* width: 90%; */
  box-shadow: inset -1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  /* background-color: rebeccapurple; */
  border-radius: 16px;
  /* border: 2px solid; */
  background-color: white;
  padding: 6px;

  overflow: hidden;
  width: 8.4rem;
  cursor: pointer;
}
#card_lower_dept_first {
  color: #515150;
  font-family: sans-serif;
  width: 144%;
  overflow: hidden;
}
#card_lower_dept_second {
  font-size: larger;
  margin-top: 5px;
  width: 144%;
  overflow: hidden;
}
#card_lower_preferences {
  margin-top: 7px;
  margin-left: 17px;
  overflow: hidden;
  border-radius: 16px;
  /* border: 2px solid; */
  padding: 6px;
  background-color: white;
  width: 19.4rem;
  cursor: pointer;
  box-shadow: inset -1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  /* border: 2px solid white; */
}
#card_lower_preferences_first {
  color: #515150;
  font-family: sans-serif;
}
#card_lower_preferences_second {
  font-size: larger;
  margin-top: 5px;
}

#card_link {
  font-size: larger;
  margin-left: 12rem;
  margin-top: 6px;
  cursor: pointer;
  font-weight: 700;
  font-family: sans-serif;
  color: black;
}
#card_font {
  left: 10px;
  font-weight: 700;
  /* width: 1rem; */
  position: relative;
  transition: left 0.3s;
  top: 6px;
}

/* card
card
card */

/* My Queries Container */
/* My Queries Container */
/* My Queries Container */
/* My Queries Container */

/* Single Query */
/* Single Query */
/* Single Query */
/* Single Query */
/* Single Query */
#single_query_container {
  /* margin-top: 3rem; */
  background-color: #f2f2f7;
  height: 125rem;
  padding: 0.1px;
}
#single_query_container_goBack {
  /* border: 2px solid; */
  width: 10rem;
  margin-top: 3rem;
  /* font-size: larger; */
  color: #6b7280;
  margin-left: 3rem;
  cursor: pointer;
}
#single_query_container_goBack_font {
  position: relative;
  top: 5px;
  color: black;
  font-size: x-large;
}
#single_query_container_headerFront {
  margin-left: 3rem;
  /* height: 4rem; */
  display: flex;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  padding-left: 35px;
  border-top-left-radius: 10px;
  font-size: xx-large;
  border-top-right-radius: 10px;
  background-color: #f0f0f0;
  /* border: 2px solid green; */
  width: 49rem;
  margin-top: 15px;
  padding-bottom: 26px;
  padding-top: 16px;
}
#single_queries_container_data {
  margin-left: 3rem;
  width: 51.2rem;

  line-height: 23px;
  font-size: large;
  height: 94rem;
  font-family: sans-serif;
}
#single_queries_container_text {
  /* overflow-y: scroll; */
  padding-left: 35px;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  padding-right: 29px;
  background-color: white;
  padding-bottom: 26px;
  padding-top: 6px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* IMAGES */
/* IMAGES */
/* IMAGES */
/* IMAGES */
/* IMAGES */

#single_queries_container_images {
  height: 29rem;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  margin-top: 3rem;
  /* border: 2px solid red; */
  background-color: #f0f0f0;
  border-radius: 10px;
}
#single_queries_container_images_header {
  background-color: #1937be;
  font-size: x-large;
  padding: 14px;
  /* border-radius: 10px; */
  color: white;
}
#single_queries_container_images_leftArrow {
  height: 25.8rem;
  cursor: pointer;
  /* background-image: linear-gradient(to right, #1937be, white); */
  width: 21.8rem;
  border-bottom-left-radius: 10px;
}
#single_queries_container_images_leftArrowFont {
  margin-left: 9px;
  margin-top: 10rem;

  padding: 23px;
  padding-right: 4px;
  padding-left: 11px;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  /* background-color: white; */
  border-radius: 7px;
}
#single_queries_container_images_rightArrowFont {
  margin-left: 15.8rem;
  margin-top: 10rem;
  /* border: 2px solid; */
  padding: 23px;
  padding-right: 6px;
  padding-left: 8px;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  border-radius: 7px;
}
#single_queries_container_images_container {
  margin-left: 3.4rem;
  /* border: 2px solid;? */
  height: 24.1rem;
  z-index: 1;
  margin-top: -25rem;
  width: 44rem;
  background-color: white;
  border-radius: 10px;
  position: relative;
  overflow-x: scroll;
  display: flex;
}
#single_queries_container_images_container::-webkit-scrollbar {
  display: none;
}
.single_queries_container_images_container_child {
  height: 23.8rem;
  width: 43.8rem;
  flex-grow: 0;
  border: 2px solid white;
  flex-shrink: 0;
  /* background-color: black; */
}
.single_queries_container_images_container_childImages {
  margin-top: 16px;
  margin-left: 1.5rem;
}
#single_queries_container_images_rightArrow {
  border-bottom-right-radius: 10px;
  cursor: pointer;
  height: 25.7rem;
  margin-left: 32.4rem;
  /* background-image: linear-gradient(to right, white, #1937be); */
  margin-top: -24.9rem;
  width: 18.8rem;
}

/* LINKS */
/* LINKS */
/* LINKS */
/* LINKS */
/* LINKS */ /* LINKS */
/* LINKS */

#single_queries_container_links {
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  height: 29rem;
  margin-top: 3rem;
  /* border: 2px solid red; */
  background-color: #f0f0f0;
  display: none;
  border-radius: 10px;
}
#single_queries_container_links_header {
  background-color: #1937be;
  font-size: x-large;
  padding: 14px;
  /* border-radius: 10px; */
  color: white;
}
#single_queries_container_links_leftArrow {
  height: 25.8rem;
  cursor: pointer;
  /* background-image: linear-gradient(to right, #1937be, white); */
  width: 21.8rem;
  border-bottom-left-radius: 10px;
}
#single_queries_container_links_leftArrowFont {
  margin-left: 9px;
  margin-top: 10rem;

  padding: 23px;
  padding-right: 4px;
  padding-left: 11px;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  /* background-color: white; */
  border-radius: 7px;
}
#single_queries_container_links_rightArrowFont {
  margin-left: 15.8rem;
  margin-top: 10rem;
  /* border: 2px solid; */
  padding: 23px;
  padding-right: 6px;
  padding-left: 8px;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  border-radius: 7px;
}
#single_queries_container_links_container {
  margin-left: 3.4rem;
  /* border: 2px solid;? */
  height: 24.1rem;
  z-index: 1;
  margin-top: -25rem;
  width: 44rem;
  background-color: white;
  border-radius: 10px;
  position: relative;
  overflow-x: scroll;
  display: flex;
}
#single_queries_container_links_container::-webkit-scrollbar {
  display: none;
}
.single_queries_container_links_container_child {
  height: 23.8rem;
  width: 43.8rem;
  flex-grow: 0;
  border: 2px solid white;
  flex-shrink: 0;
  /* background-color: black; */
}
.single_queries_container_links_container_childImages {
  margin-top: 16px;
  margin-left: 1.5rem;
}
#single_queries_container_links_rightArrow {
  border-bottom-right-radius: 10px;
  cursor: pointer;
  height: 25.7rem;
  margin-left: 32.4rem;
  /* background-image: linear-gradient(to right, white, #1937be); */
  margin-top: -24.9rem;
  width: 18.8rem;
}

/* VIDEOS */
/* VIDEOS */
/* VIDEOS */
/* VIDEOS */
/* VIDEOS */ /* VIDEOS */

#single_queries_container_videos {
  height: 29rem;
  margin-top: 3rem;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  /* border: 2px solid red; */
  background-color: #f0f0f0;
  border-radius: 10px;
}
#single_queries_container_videos_header {
  background-color: #1937be;
  font-size: x-large;
  padding: 14px;
  /* border-radius: 10px; */
  color: white;
}
#single_queries_container_videos_leftArrow {
  height: 25.8rem;
  cursor: pointer;
  /* background-image: linear-gradient(to right, #1937be, white); */
  width: 21.8rem;
  border-bottom-left-radius: 10px;
}
#single_queries_container_videos_leftArrowFont {
  margin-left: 9px;
  margin-top: 10rem;

  padding: 23px;
  padding-right: 4px;
  padding-left: 11px;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  /* background-color: white; */
  border-radius: 7px;
}
#single_queries_container_videos_rightArrowFont {
  margin-left: 15.8rem;
  margin-top: 10rem;
  /* border: 2px solid; */
  padding: 23px;
  padding-right: 6px;
  padding-left: 8px;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  border-radius: 7px;
}
#single_queries_container_videos_container {
  margin-left: 3.4rem;
  /* border: 2px solid;? */
  height: 24.1rem;
  z-index: 1;
  margin-top: -25rem;
  width: 44rem;
  background-color: white;
  border-radius: 10px;
  position: relative;
  overflow-x: scroll;
  display: flex;
}
#single_queries_container_videos_container::-webkit-scrollbar {
  display: none;
}
.single_queries_container_videos_container_child {
  height: 23.8rem;
  width: 43.8rem;
  flex-grow: 0;
  border: 2px solid white;
  flex-shrink: 0;
  /* background-color: black; */
}
.single_queries_container_videos_container_childImages {
  margin-top: 16px;
  margin-left: 1.5rem;
}
#single_queries_container_videos_rightArrow {
  border-bottom-right-radius: 10px;
  cursor: pointer;
  height: 25.7rem;
  margin-left: 32.4rem;
  /* background-image: linear-gradient(to right, white, #1937be); */
  margin-top: -24.9rem;
  width: 18.8rem;
}

/* HEADER RIGHT */
/* HEADER RIGHT */
/* HEADER RIGHT */
/* HEADER RIGHT */
/* HEADER RIGHT */
/* HEADER RIGHT */
#single_query_container_headerRight {
  margin-left: 55.2rem;
  /* border: 2px solid blue; */
  border-radius: 10px;
  height: 34rem;
  width: 18.5rem;
  margin-top: -98.9rem;
  background-color: white;
}
#single_query_container_headerRight_heading {
  font-size: x-large;
  text-align: center;
  border-bottom: 1px solid;
  padding-top: 5px;
  height: 2.5rem;
}
#single_query_container_headerRight_name {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 16rem;
  padding: 4px;
  box-shadow: inset 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#single_query_container_headerRight_name_second {
  font-size: larger;
  margin-top: 4px;
}
#single_query_container_headerRight_anonyKey {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 16rem;
  padding: 4px;
  box-shadow: inset 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#single_query_container_headerRight_anonyKey_second {
  font-size: larger;
  margin-top: 4px;
}
#single_query_container_headerRight_organisation {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 16rem;
  padding: 4px;
  box-shadow: inset 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#single_query_container_headerRight_organisation_second {
  font-size: larger;
  margin-top: 4px;
}
#single_query_container_headerRight_department {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 16rem;
  padding: 4px;
  box-shadow: inset 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#single_query_container_headerRight_department_second {
  font-size: larger;
  margin-top: 4px;
}
#single_query_container_headerRight_preferences {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 16rem;
  padding: 4px;
  box-shadow: inset 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#single_query_container_headerRight_preferences_second {
  font-size: larger;
  margin-top: 4px;
}
#single_query_container_headerRight_status {
  font-size: large;
  margin-top: 1rem;
  margin-left: 1rem;
  width: 15.5rem;
  background-color: #a40e26;
  color: white;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
}
#single_query_container_headerRight_comments {
  border-radius: 10px;
  padding: 14px;
  font-size: larger;
  width: 82%;
  margin-left: 12px;
  font-weight: 500;
  background-color: #1937be;
  text-align: center;
  margin-top: 3rem;
  cursor: pointer;
  font-family: sans-serif;
  color: white;
}

#single_query_container_comment {
  /* border: 2px solid; */
  margin-top: 4rem;
  margin-left: 3rem;
  height: 19rem;
  width: 70.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 6px 0px #c5c4c4;
  background-color: white;
}

#single_query_container_comment_heading {
  font-size: x-large;
  padding: 10px;
  font-family: sans-serif;
  text-align: center;
}
#single_queries_container_comment_content {
  padding: 10px;
  font-size: large;
  font-family: Google sans-serif;
  margin-left: 42px;
  width: 61rem;
  text-align: center;
}
/* Single Query */
/* Single Query */
/* Single Query */
/* Single Query */

/* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */

.for_footer_color_global {
  background-color: white;
  position: relative;
  z-index: 2;
}

/* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */ /* GLOBAL CSS */

#randomSpace {
  margin-top: 90rem;
}
